.icon32-woocommerce_shipworks_export{
background-image: url('../../assets/images/shipworks_icon.png') !important;
background-position: center center !important;
background-repeat: no-repeat !important;
}